.poup {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../img/hojaRota.png");
  display: flex;
  height: 60vh;
  justify-content: center;
  position: relative;
  width: 70%;
}
.input-buton {
  position: absolute;
  bottom: 5%;
  margin: 0 5% 0 5%;
}
.container-popup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.prueba {
  width: 100px;
  height: 100px;
  background-color: crimson;
}
