/* solo importaciones */

@import "reset.css";
@import "./variables.css";
@import "./media.css";
@import "./components/main_components.css";
/*view port*/
/*
h1 {
    background-color: red;
    height: 100vh; 
    width: 50vw;
}
*/

body {
  background-image: url("../img/fondodeahtNote.png");
  background-position: top;
  background-repeat: no-repeat;
  background-color: var(--background_color);
  overflow: hidden;
  width: 100%;
}
